<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragmenty :: head">

</head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragmenty :: nawigacja"></nav>

<form method="post" style="max-width:600px;" th:object="${klient}">
    <br />
    <div class="form-group">
        <label th:for="type">Typ rachunku</label>
        <select th:field="*{type}">
            <option th:each="klientType : ${klientTypes}"
                    th:text="${klientType.name}"
                    th:value="${klientType}"></option>
        </select>
    </div>

    <div class="form-group">
        <label th:for="nazwa">Nazwa</label>
        <input class="form-control" th:field="*{nazwa}" />
        <span th:errors="*{nazwa}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="imie">Imie</label>
        <input class="form-control" th:field="*{imie}" />
        <span th:errors="*{imie}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="nazwisko">Nazwisko</label>
        <input class="form-control" th:field="*{nazwisko}" />
        <span th:errors="*{nazwisko}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="adres">Adres</label>
        <input class="form-control" th:field="*{adres}" />
        <span th:errors="*{adres}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="nip">Nip</label>
        <input class="form-control" th:field="*{nip}" />
        <span th:errors="*{nip}" class="error"></span>
    </div>

    <input type="submit" value="Add Klient" />
</form>

</body>
</html>
