<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!--podmien wszystko co jest w head w pliku framents-->
<head th:replace="fragmenty :: head">

</head>
<body class="container">
<h1 th:text="${title}"></h1>

<nav th:replace="fragmenty :: nawigacja"></nav>

<br />
<p th:unless="${klienci} and ${klienci.size()}">Lista klientów jest pusta!</p>

<table class="table">

    <tr>

        <th>Nazwa</th>
        <th>Imie</th>
        <th>Nazwisko</th>
        <th>Adres</th>
        <th>Nip</th>
        <th>Typ rachunku</th>
    </tr>

    <tr th:each="klient : ${klienci}">

        <td th:text="${klient.nazwa}"></td>
        <td th:text="${klient.imie}"></td>
        <td th:text="${klient.nazwisko}"></td>
        <td th:text="${klient.adres}"></td>
        <td th:text="${klient.nip}"></td>
        <td th:text="${klient.type.name}"></td>

    </tr>

</table>

</body>
</html>
