<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragmenty :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragmenty :: nawigacja"></nav>
<br />
<p th:unless="${klienci} and ${klienci.size()}">Brak klientów do usunięcia!</p>

<form method="post">
    <div th:each="klient : ${klienci}" class="checkbox">
        <input type="checkbox" name="klientIds" th:value="${klient.id}" th:id="${klient.id}"/>
        <label th:for="${klient.id}" th:text="${klient.nazwa}"></label>
        <br />
    </div>

    <input type="submit" value="Usuń Klienta" />
</form>

</body>
</html>
