<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragmenty :: head">

</head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragmenty :: nawigacja"></nav>

<form method="post" style="max-width:600px;" th:object="${faktura}">
    <br />
    <div class="form-group">
        <label th:for="type">Typ rachunku</label>
        <select th:field="*{type}">
            <option th:each="fakturaType : ${fakturaTypes}"
                    th:text="${fakturaType.name}"
                    th:value="${fakturaType}"></option>
        </select>
    </div>
<!---->
    <div class="form-group">
        <label th:for="type">Wybierz klienta</label>
        <select th:field="*{type}">
            <option th:each="fakturaType : ${fakturaTypes}"
                    th:text="${fakturaType.name}"
                    th:value="${fakturaType}"></option>
        </select>
    </div>

    <div class="form-group">
        <label th:for="type">Wybierz Artykuł</label>
        <select th:field="*{type}">
            <option th:each="fakturaType : ${fakturaTypes}"
                    th:text="${fakturaType.name}"
                    th:value="${fakturaType}"></option>
        </select>
    </div>

    <div class="form-group">
        <label th:for="type">Ilość</label>
        <select th:field="*{type}">
            <option th:each="fakturaType : ${fakturaTypes}"
                    th:text="${fakturaType.name}"
                    th:value="${fakturaType}"></option>
        </select>
    </div>
<!---->

    <div class="form-group">
        <label th:for="nazwa">Nazwa</label>
        <input class="form-control" th:field="*{nazwa}" />
        <span th:errors="*{nazwa}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="imie">Imie</label>
        <input class="form-control" th:field="*{imie}" />
        <span th:errors="*{imie}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="nazwisko">Nazwisko</label>
        <input class="form-control" th:field="*{nazwisko}" />
        <span th:errors="*{nazwisko}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="adres">Adres</label>
        <input class="form-control" th:field="*{adres}" />
        <span th:errors="*{adres}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="nip">Nip</label>
        <input class="form-control" th:field="*{nip}" />
        <span th:errors="*{nip}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="dataWystawienia">Data Wystawienia</label>
        <input class="form-control" th:field="*{dataWystawienia}" />
        <span th:errors="*{dataWystawienia}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="dataDostarczenia">Data Dostarczenia</label>
        <input class="form-control" th:field="*{dataDostarczenia}" />
        <span th:errors="*{dataDostarczenia}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="description">Opis</label>
        <input class="form-control" th:field="*{description}" />
        <span th:errors="*{description}" class="error"></span>
    </div>

    <input type="submit" value="Add Faktura" />
</form>

</body>
</html>
