<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!--podmien wszystko co jest w head w pliku framents-->
<head th:replace="fragmenty :: head">

</head>
<body class="container">
<h1 th:text="${title}"></h1>

<nav th:replace="fragmenty :: nawigacja"></nav>

<br />
<p th:unless="${faktury} and ${faktury.size()}">Lista faktur jest pusta!</p>

<table class="table">

    <tr>

        <th>Nazwa</th>
        <th>Imie</th>
        <th>Nazwisko</th>
        <th>Adres</th>
        <th>Nip</th>
        <th>Data Wystawienia</th>
        <th>Data Dostarczenia</th>
        <th>Opis</th>
        <th>Typ rachunku</th>
    </tr>

    <tr th:each="faktura : ${faktury}">

        <td th:text="${faktura.nazwa}"></td>
        <td th:text="${faktura.imie}"></td>
        <td th:text="${faktura.nazwisko}"></td>
        <td th:text="${faktura.adres}"></td>
        <td th:text="${faktura.nip}"></td>
        <td th:text="${faktura.dataWystawienia}"></td>
        <td th:text="${faktura.dataDostarczenia}"></td>
        <td th:text="${faktura.description}"></td>
        <td th:text="${faktura.type.name}"></td>

    </tr>

</table>

</body>
</html>
