<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragmenty :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragmenty :: nawigacja"></nav>
<br />
<p th:unless="${faktury} and ${faktury.size()}">Brak faktur do usunięcia!</p>

<form method="post">
    <div th:each="faktura : ${faktury}" class="checkbox">
        <input type="checkbox" name="fakturaIds" th:value="${faktura.id}" th:id="${faktura.id}"/>
        <label th:for="${faktura.id}" th:text="${faktura.nazwa}"></label>
        <br />
    </div>

    <input type="submit" value="Usuń Fakturę" />
</form>

</body>
</html>
