<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!--podmien wszystko co jest w head w pliku framents-->
<head th:replace="fragmenty :: head">

</head>
<body class="container">
<h1 th:text="${title}"></h1>

<nav th:replace="fragmenty :: nawigacja"></nav>

<br />
<p th:unless="${categories} and ${categories.size()}">Lista kategorii jest pusta!</p>

<table class="table">

    <tr>

        <th>Nazwa</th>
    </tr>

    <tr th:each="category : ${categories}">

        <td th:text="${category.nazwa}"></td>

    </tr>

</table>

</body>
</html>
