<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Moje faktury</title>

    <!--<link rel="stylesheet" th:href="@{/css/styles.css}" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <scripty type="text.javascript" th:src="@{/js/script.js}"></scripty>
    <!--<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->


</head>
<body>
<!--fragment nawigacyjny-->
<nav th:fragment="nawigacja">
    <a href="/faktura"><button class="btn btn-primary">Faktury</button></a>
    <a href="/faktura/dodaj"><button class="btn btn-primary">Dodaj</button></a>
    <a href="/faktura/usun"><button class="btn btn-primary">Usuń</button></a>
    <a class="btn" href="#"><i class="icon-plus"></i></a>
    <a href="/klient/"><button class="btn btn-primary">Klienci</button></a>
    <a href="/klient/dodajKlient"><button class="btn btn-primary">Dodaj</button></a>
    <a href="/klient/usunKlient"><button class="btn btn-primary">Usuń</button></a>
    <a class="btn" href="#"><i class="icon-plus"></i></a>
    <a href="/towar/"><button class="btn btn-primary">Towar</button></a>
    <a href="/towar/dodajTowar"><button class="btn btn-primary">Dodaj</button></a>
    <a href="/towar/usunTowar"><button class="btn btn-primary">Usuń</button></a>
    <a class="btn" href="#"><i class="icon-plus"></i></a>
    <a href="/cennik/"><button class="btn btn-primary">Cennik</button></a>
    <a href="/cennik/dodajCennik/"><button class="btn btn-primary">Dodaj</button></a>
    <a href="/cennik/usunCennik"><button class="btn btn-primary">Usuń</button></a>
    <a class="btn" href="#"><i class="icon-plus"></i></a>

    <!--TEST-->
    <br />
    <br />

    <a href="/category/"><button class="btn ">Test Category</button></a>
    <a href="/category/dodajCategory"><button class="btn btn-primary">TC dodaj</button></a>
    <a href="/category/usunCategory"><button class="btn ">TC usun</button></a>
    <a class="btn" href="#"><i class="icon-plus"></i></a>
    <a href="/menu/"><button class="btn btn-primary">Test Menu</button></a>
    <a href="/menu/add-itemMenu"><button class="btn ">TM Add-item</button></a>
    <a href="/menu/dodajMenu"><button class="btn btn-primary">TM dodaj</button></a>
    <a href="/menu/usunMenu"><button class="btn ">TM usun</button></a>
    <a href="/menu/viewMenu"><button class="btn ">TM view</button></a>


</nav>

</body>
</html>