<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragmenty :: head">

</head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragmenty :: nawigacja"></nav>

<form method="post" style="max-width:600px;" th:object="${cennik}">
    <br />

    <div class="form-group">
        <label th:for="nazwat">Nazwa Towaru</label>
        <input class="form-control" th:field="*{nazwat}" />
        <span th:errors="*{nazwat}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="cena">Cena</label>
        <input class="form-control" th:field="*{cena}" />
        <span th:errors="*{cena}" class="error"></span>
    </div>

    <!--<div class="form-group">-->
        <!--<label th:for="category.name">Category Name</label>-->
        <!--<input class="form-control" th:field="*{category.name}" />-->
        <!--<span th:errors="*{category.name}" class="error"></span>-->
    <!--</div>-->

    <input type="submit" value="Add Cennik" />
</form>

</body>
</html>
