<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!--podmien wszystko co jest w head w pliku framents-->
<head th:replace="fragmenty :: head">

</head>
<body class="container">
<h1 th:text="${title}"></h1>

<nav th:replace="fragmenty :: nawigacja"></nav>

<br />
<p th:unless="${cenniki} and ${cenniki.size()}">Lista cenników jest pusta!</p>

<table class="table">

    <tr>
        <th>Nazwa Towaru</th>
        <th>Cena</th>
        <th>Nazwa kategorii</th>

    </tr>

    <tr th:each="cennik : ${cenniki}">
        <td th:text="${cennik.nazwat}"></td>
        <td th:text="${cennik.cena}"></td>
        <!--<td th:text="${cennik.category.name}"></td>-->

    </tr>

</table>

</body>
</html>
