<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragmenty :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragmenty :: nawigacja"></nav>
<br />
<p th:unless="${cenniki} and ${cenniki.size()}">Brak cenników do usunięcia!</p>

<form method="post">
    <div th:each="cennik : ${cenniki}" class="checkbox">
        <input type="checkbox" name="cennikIds" th:value="${cennik.id}" th:id="${cennik.id}"/>
        <label th:for="${cennik.id}" th:text="${cennik.nazwa}"></label>
        <br />
    </div>

    <input type="submit" value="Usuń Cennik" />
</form>

</body>
</html>
