<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragmenty :: head">

</head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragmenty :: nawigacja"></nav>

<form method="post" style="max-width:600px;" th:object="${towar}">
    <br />
    <div class="form-group">
        <label th:for="type">Typ rachunku</label>
        <select th:field="*{type}">
            <option th:each="towarType : ${towarTypes}"
                    th:text="${towarType.name}"
                    th:value="${towarType}"></option>
        </select>
    </div>

    <div class="form-group">
        <label th:for="nazwa">Nazwa</label>
        <input class="form-control" th:field="*{nazwa}" />
        <span th:errors="*{nazwa}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="kategoria">Kategoria</label>
        <input class="form-control" th:field="*{kategoria}" />
        <span th:errors="*{kategoria}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="description">Opis</label>
        <input class="form-control" th:field="*{description}" />
        <span th:errors="*{description}" class="error"></span>
    </div>

    <input type="submit" value="Add Towar" />
</form>

</body>
</html>