<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!--podmien wszystko co jest w head w pliku framents-->
<head th:replace="fragmenty :: head">

</head>
<body class="container">
<h1 th:text="${title}"></h1>

<nav th:replace="fragmenty :: nawigacja"></nav>

<br />
<p th:unless="${towary} and ${towary.size()}">Lista towarów jest pusta!</p>

<table class="table">

    <tr>

        <th>Nazwa</th>
        <th>Kategoria</th>
        <th>Opis</th>
        <th>Jednostka miary</th>
    </tr>

    <tr th:each="towar : ${towary}">

        <td th:text="${towar.nazwa}"></td>
        <td th:text="${towar.kategoria}"></td>
        <td th:text="${towar.description}"></td>
        <td th:text="${towar.type.name}"></td>

    </tr>

</table>

</body>
</html>
