<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragmenty :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragmenty :: nawigacja"></nav>
<br />
<p th:unless="${towary} and ${towary.size()}">Brak towarów do usunięcia!</p>

<form method="post">
    <div th:each="towar : ${towary}" class="checkbox">
        <input type="checkbox" name="towarIds" th:value="${towar.id}" th:id="${towar.id}"/>
        <label th:for="${towar.id}" th:text="${towar.nazwa}"></label>
        <br />
    </div>

    <input type="submit" value="Usuń Towar" />
</form>

</body>
</html>
