<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragmenty :: head">
<body class="container">
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragmenty :: nawigacja"></nav>

<from method="post" th:object="${form}" action="/menu/add-itemMenu">

    <div class="form-group">
        <label th:for="cennikId">Cennik</label>
        <select name="cennikId">
            <option th:each="cennik : *{cenniki}"
                    th:text="${cennik.name}"
                    th:value="${cennik.id}"></option>
        </select>
    </div>

    <input type="hidden" name="menuId" th:value="*{menu.id}" />

    <input type="submit" value="Dodaj Kolejny" />

</from>
</body>
</html>