<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragmenty :: head">

</head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragmenty :: nawigacja"></nav>

<form method="post" style="max-width:600px;" th:object="${menu}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>

    <input type="submit" value="Utwórz Menu" />
</form>

</body>
</html>
