<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!--podmien wszystko co jest w head w pliku framents-->
<head th:replace="fragmenty :: head">

</head>
<body class="container">
<h1 th:text="${title}"></h1>

<nav th:replace="fragmenty :: nawigacja"></nav>

<ul>
    <li th:each="menu : ${menus}">
        <a th:href="'/menu/viewMenu' + ${menu.id}" th:text="${menu.name}"></a>
    </li>
</ul>

<p><a href="/menu/dodajMenu">Dodaj Menu</a></p>

</body>
</html>
