<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragmenty :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragmenty :: nawigacja"></nav>
<br />
<p th:unless="${menus} and ${menus.size()}">Brak menu do usunięcia!</p>

<form method="post">
    <div th:each="menu : ${menus}" class="checkbox">
        <input type="checkbox" name="menuIds" th:value="${menu.id}" th:id="${menu.id}"/>
        <label th:for="${menu.id}" th:text="${menu.name}"></label>
        <br />
    </div>

    <input type="submit" value="Usuń Menu" />
</form>

</body>
</html>
