<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragmenty :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragmenty :: nawigacja"></nav>

<ul>
    <li th:each="cennik: ${cenniki}" th:text="${cennik.name}"></li>
</ul>

<p th:unless="${cenniki.size()}"><i>Brak cenników.</i></p>

<p><a th:href="'/menu/add-item/' + ${menuId}">Add Cennik</a></p>
</body>
</html>
